In [1]:
import pandas as pd

In [2]:
test = pd.read_csv('test_data.csv')

In [5]:
test.columns = ['capacity_utilization', 'cost_of_delay', 'cost_of_capacity', 'total_cost', 'items_in_queue']

In [9]:
test = test.iloc[0:10, 0:4]

In [10]:
test

  capacity_utilization cost_of_delay  cost_of_capacity   total_cost
0                 0.10   2.222222222            4500.0  4502.222222
1                 0.20            10            4000.0         4010
2                 0.30   25.71428571            3500.0  3525.714286
3                 0.40   53.33333333            3000.0  3053.333333
4                 0.50           100            2500.0         2600
5                 0.60           180            2000.0         2180
6                 0.70   326.6666667            1500.0  1826.666667
7                 0.80           640            1000.0         1640
8                 0.90          1620             500.0         2120
9                 0.95          3610             250.0         3860